<!DOCTYPE HTML>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

    <title>jform : Examples</title>

    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo="/>
    <link href="/vendors/font-awesome.css" rel="stylesheet"/>
    <script src="/vendors/font-awesome.js"></script>
    <script src="/vendors/jquery.min.js"></script>

    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css"/>
    <link href="{{ url_for('jforms-static', filename="css/jforms.css") }}" rel="stylesheet"/>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/example.css" />
    
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidenav"> 
                <a href="#">About</a>
                <hr/>
                <span>Examples</span>
                <a href="/">Simple Form</a>
                <a href="/js">Javascript Enabled</a>
                <a href="/multiform">Multiform</a>
                <a href="/ajax">Modal Form</a> 
            </div>  
            <div class="col">
                <h4>
                    Built with FLASK/Jinja2 and Jforms</h1>
                </h3>
                {% block body %} {%endblock%}
            </div>
        </div>
    </div>
</body>
