{% extends 'base.jinja2' %}

{% block body %}
  <!-- Button trigger modal -->
  <button id="btn-load-form" type="button" class="btn btn-primary">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="modal-body" class="modal-dialog modal-lg" role="document" >    
  </div>

  <script type="text/javascript">
  $("#btn-load-form").click(function(){
      $.ajax({
          url: "/modal_form", 
          success: function(result){
              $("#modal-body").html(result);
              $('#exampleModal').modal('show')
          }
      });
  });
  </script>
{%endblock%}
