{% import "jform-macros.jinja2" as jform with context %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-7">
                        {% if forms|length > 1 %}
                        <div class="step-container float-right mt-3">
                            {% for indicator in forms %}
                            <span class="jforms-step" onclick="multiform.nextPrev(null, {{ loop.index0 }})"></span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <div class="btn-group float-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-secondary left-right-buttons" id="prevBtn"
                                onclick="multiform.nextPrev(-1)">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                            <button type="button" class="btn btn-default left-right-buttons" id="nextBtn"
                                onclick="multiform.nextPrev(1)">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <form id="wtf" class="jform form-horizontal" method="{{ method|default('POST') }}" action="{{ api }}"
                    enctype="multipart/form-data">
                    {#{form.csrf_token}#}
                    {% for tab in forms %}
                    <div class="jforms-tab jforms-unvisited-tab" id="jforms-tab-{{ loop.index0 }}">
                        {% for field in tab %}
                        <div class="jforms-field">
                            {% if field|length > 1 %}
                            <div class="form-row">
                                {% for subField in field %}
                                <div {% if subField.hidden %}style="display:none" {% endif %}
                                    class="col jforms-sameline-field">
                                    {# <div class=""></div>#}
                                    {{ jform.macro_switch(subField) }}
                                </div>
                                {% endfor %}
                            </div>

                            {% else %}
                            <div {% if field[0].hidden %}style="display:none" {% endif %} class="form-row">
                                {{ jform.macro_switch(field[0]) }}
                            </div>
                            {% endif %}

                        </div>
                        {% endfor %}
                    </div>

                    {% endfor %}

                    <div class="modal-footer from-group">
                        <button type="submit" class="col-3 btn btn-primary">{{ b_label|default('OK') }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<link rel="stylesheet" href="/vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
<script src="/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script src="{{ url_for('jforms-static', filename="js/jform.js") }}"></script>
{% for s in scripts %}
<script src="{{ s }}"></script>
{% endfor %}


{% if not itab %}
<script>
    var multiform = new MultiForm("wtf")
</script>
{% endif %}