{% macro macro_label(field) %}
    <label for="{{CUSTOM_ID_PREFIX}}{{field.name}}">
        {{field.label|default(field.name|capitalize)}}
        {% if "required" in field.attribs %}<sup style="color:red">*</sup>{% endif %}
    </label>
{% endmacro %}


{% macro macro_select(field) %}
    <select
        id    = "{{CUSTOM_ID_PREFIX}}{{field.name}}"
        {%if subSelectId %}
        onchange = onSelectChange("{{selectId}}","{{subSelectId}}")
        {% endif %}
        name  = "{{field.name}}"
        class = "form-control {{field.class}} {{CUSTOM_SELECT_STYLE}}"
        {{field.attribs}}
        {% if itab %}disabled{% endif %}
    >

        {% if "placeholder" in field.select %}
            <option
                {% if field.select.selected %}selected{% endif %}
                hidden value
            >
                {{field.select.placeholder}}
            </option>
        {% endif %}
        {% if field.select.default_choice %}
            <option value="">{{field.select.default_choice}}</option>
        {% endif %}}
        {% for val, text in field.select.choices %}
            {%if val is not none %}
                <option
                    value="{{val}}"
                    {% if val in field.select.selected %}selected{% endif %}
                >{{text}}</option>
            {% endif %}
        {% endfor%}
    </select>
{% endmacro %}


{% macro macro_input(field) %}
    <input
        id    = "{{CUSTOM_ID_PREFIX}}{{field.name}}"
        name  = "{{field.name}}"
        class = "form-control {{field.class}}  {{CUSTOM_FIELD_STYLE}}
                {% if field["input"]["data-provide"] =="datepicker" %}
                    jforms-datepicker
                {% endif %}
                "
        {% for key, val in field.input.items() %}
            {{key}}="{{val}}"
        {% endfor %}
        {{field.attribs}}
        {% if itab %}disabled{% endif %}
    >
{% endmacro %}


{% macro macro_input_file(field) %}
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="form-control {{CUSTOM_FILE_STYLE}} {{field.class}} " id="{{CUSTOM_ID_PREFIX}}{{field.name}}">
            <label class="custom-file-label" for="{{CUSTOM_ID_PREFIX}}{{field.name}}">{{field.placeholder}}</label>
        </div>
    </div>
{% endmacro %}


{% macro macro_input_datepicker(field) %}
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="{{CUSTOM_ID_PREFIX}}{{field.name}}">
                <i class="far fa-calendar-alt"></i>
            </label>
        </div>
        <input
            id    = "{{CUSTOM_ID_PREFIX}}{{field.name}}"
            name  = "{{field.name}}"
            class = "form-control {{field.class}}  {{CUSTOM_FIELD_STYLE}}"
            data-provide = "datepicker"
            data-date-format = "{{field.datepicker.format|default('yyyy M dd')}}"
            data-date-today-btn = "True"
            data-date-start-date = "{{field.datepicker.start|default('1970-01-01')}}"
            data-date-today-highlight = True
            {{field.attribs}}
            {% if itab %}disabled{% endif %}
        >
    </div>
{% endmacro %}


{% macro macro_input_datalist(field) %}
    <input
        id    = "{{CUSTOM_ID_PREFIX}}{{field.name}}"
        name  = "{{field.name}}"
        class = "form-control custom-select {{field.class}}  {{CUSTOM_FIELD_STYLE}}"
        list  = "{{CUSTOM_ID_PREFIX}}{{field.name}}-list"
        {{field.attribs}}
        {% if itab %}disabled{% endif %}
    />

    <datalist id="{{CUSTOM_ID_PREFIX}}{{field.name}}-list">
        {% for val, text in field.datalist.options %}
            <option value="{{text}}">
        {% endfor%}
    </datalist>
{% endmacro %}


{% macro macro_textarea(field) %}
    <textarea
        id    = "{{CUSTOM_ID_PREFIX}}{{field.name}}"
        name  = "{{field.name}}"
        class = "form-control {{field.class}}"
        rows  = "3"
        {% for key, val in field.textarea.items() %}
        {{key}}="{{val}}"
        {% endfor %}
        {{field.attribs}}
        {% if itab %}disabled{% endif %}
    >{{field.textarea.value}}</textarea>
{% endmacro %}


{% macro macro_switch(field) %}
    {{macro_label(field)}}
    {% if 'input' in field %}  {{macro_input(field)}}
    {% elif 'file' in field %}  {{macro_input_file(field)}}
    {% elif 'select' in field %} {{macro_select(field)}}
    {% elif 'textarea' in field %} {{macro_textarea(field)}}
    {% elif 'datalist' in field %} {{macro_input_datalist(field)}}
    {% elif 'datepicker' in field %} {{macro_input_datepicker(field)}}
    {% endif %}
    {% if field.description %}
        <small class="form-text text-muted">
            {{field.description}}
        </small>
    {% endif %}
{% endmacro %}


{% macro macro_render_tabs(forms)%}

    {% for tab in forms %}
        <div class="modal-body {% if tab[0].subCategory %}sub-tab tab {{tab[0].subCategory}}{% else %}tab{% endif %}" {% if itab %}style="display:none"{% endif %}>
            {% for field in tab %}
                {% if 'input' in field %}      {{input_field(field)}}
                {% elif 'select' in field %}   {{select_field(field)}}
                {% elif 'textarea' in field %} {{textarea_field(field)}}
                {% endif %}

                {% if field.description %}
                    <small class="form-text text-muted">
                        {{field.description}}
                    </small>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{% endmacro %}
