{% import "jform-macros.jinja2" as jform with context %}

{% macro render_singleform(forms_object) %}
    {% for css_file in forms_object['meta']['include_css'] %}
        <link rel="stylesheet" href="/static/css/{{css_file}}" />
    {% endfor %}

    {% set modal = forms_object['meta']['is_modal'] %}
    {% if modal %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">
                    <i class="fa fa-{{forms_object['meta']['icon']|default('book')}}"></i>
                    {{forms_object['meta']['title']|default('Form')}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
    {% endif %}
                <div class="{{forms_object['meta']['container_css']}}">
                    <form id="{{forms_object['meta']['id']}}" 
                        class="form form-horizontal {{forms_object['meta']['form_css']}}" 
                        method="{{forms_object['meta']['method']|default('POST')}}" 
                        action="{{forms_object['meta']['url']|default('')}}" 
                        enctype="multipart/form-data" 
                        {% if forms_object['meta']['on_submit'] %} onsubmit="{{forms_object['meta']['on_submit']}}; return false;" {% endif%}>
                            {% for field in forms_object['hidden_fields']  %}
                                <input type ="hidden" name="{{field.name}}" id="{{CUSTOM_ID_PREFIX}}{{field.name}}" value="{{field.value}}">
                            {% endfor %}

                            {% for field in forms_object['fields']  %}
                                {% if 'columns' in field %}
                                    <div class="row">
                                        {% for subField in field.columns %}
                                            <div class="form-group col {{subField.col_size}}">
                                                {{jform.macro_switch(subField)}}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% elif 'hidden' in field %}
                                    {{jform.macro_switch(field)}}
                                {% else %}
                                    <div class="form-group {{field.col_size}}">
                                        {{jform.macro_switch(field)}}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" class="btn {{SUBMIT_BUTTON_STYLE|default('btn-primary')}}">
                                    {{forms_object['meta']['submit_label']|default('Submit')}}
                                </button>
                                <button type="reset" class="btn {{RESET_BUTTON_STYLE|default('btn-danger')}}">
                                    Reset
                                </button>
                                {% if modal %}
                                    <button type="button" class="btn {{CLOSE_BUTTON_STYLE|default('btn-danger')}}" data-dismiss="modal">
                                        Close
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
    {% if modal %} 
        </div>
    {% endif %}

    {% for js_file in forms_object['meta']['include_js'] %}
        <script type="text/javascript" src="/static/js/{{js_file}}"></script>    
    {% endfor %}

    {% if forms_object['meta']['on_load'] %}
        <script type="text/javascript">
            {{forms_object['meta']['on_load']}}
        </script> 
    {% endif %}
{% endmacro %}
