
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.jforms-tab {
  display: none;
}

.left-right-buttons {
  color: #ffffff;
  border: none;
  width:4em;
  cursor: pointer;
}

#nextBtn{
  background-color: #4CAF50;
}


button:hover {
  opacity: 0.8;
}

.inactive-button {
  background-color: #bbbbbb !important;
}

/* Make circles that indicate the steps of the form: */
.jforms-step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:darkslategray;
  transition: 0.2s;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.jforms-step:hover{
  transform: scale(1.5);
}

.jforms-step.active {
  border-width: 1px;
  transform: scale(1.5);
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.jforms-step.finish {
  background-color: #4CAF50;
}

.jforms-step.invalid {
  background-color: red;
}

.jforms-sameline-field {
  padding-left: 0 !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.jforms-field {
  margin: 1rem;
}
